.repoWindow {
  flex: 1;
  &__tab.repoWindow__tab {
    //   top: 0;
    //   height: 30px;
    min-width: 100px;
    text-align: center;
    //   line-height: 25px;
  }
  &__tabBody.repoWindow__tabBody {
    position: relative;
    overflow: hidden;
  }
  &__body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.75rem;
  }

  &__about {
    padding: 1rem;
    border: 1px inset;
  }
  &__details {
    background-color: #fff;
    padding: 1rem 3rem calc(1rem + 6px);
  }
}

.readme {
  &__body {
    padding: 1rem;
    background-color: #fff;
    border: 2px inset;
  }
}
