.repoWindow {
  flex: 1;
  &__header {
    padding: 0.5rem 2px;
    > h1 {
      max-width: 420px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-shadow: 1px 0 #050608;
      line-height: 20px;
      letter-spacing: 1px;
      padding-left: 0.25rem;
    }
    > div > .badge {
      text-align: center;
      line-height: 11px;
    }
    > div > a {
      margin-left: 5px;
    }
  }
  &__tab.repoWindow__tab {
    min-width: 100px;
    text-align: center;
    > p {
      position: relative;
      top: 8px;
    }
  }
  &__tabBody.repoWindow__tabBody {
    position: relative;
    overflow: hidden;
  }
  &__body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.75rem;
  }

  &__tabTitle {
    font-size: 16px !important;
    padding: 0.5rem 0 1rem;
    &.-name {
      padding-top: 0;
    }
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__topics {
    margin-bottom: 1rem;
    > p:first-child {
      margin-left: 0;
    }
  }

  &__details {
    background-color: #fff;
    padding: 0.75rem 3rem 1.5rem;
    img {
      position: relative;
      top: 3px;
      margin-right: 0.25rem;
    }
  }

  &__languages {
    margin: 1rem 0;
  }
  &__moreLanguages {
    font-size: 8px !important;
    margin-left: 0.5rem;
  }

  &__about {
    padding: 1rem;
    border: 1px inset;
  }

  // Files tab
  &__files {
    height: calc(100% - 2.25rem);
  }
  &__filesCol {
    border: 1px inset;
    padding: 0.5rem;
    background-color: #fff;
    &.-tree {
      width: 33%;
    }
    &.-preview {
      width: 66%;
      margin-left: 0.75rem;
      > pre {
        white-space: pre-wrap;
      }
    }
  }
}

.readme {
  &__body {
    padding: 1rem;
    background-color: #fff;
    border: 2px inset;
    * {
      margin-bottom: 0.5rem;
      line-height: 2;
    }
    h1,
    h2,
    h3 {
      margin: 1rem 0;
    }
    h1 a {
      font-size: 100% !important;
    }
    ul,
    ol {
      list-style: disc;
      list-style-type: disc;
      padding-left: 1rem;
      > li {
        list-style: disc;
        list-style-type: disc;
      }
    }
    pre {
      background-color: #ededed;
      padding: 1rem;
    }
  }
}

.filePreview {
  h2 {
    margin-bottom: 1rem;
  }
  pre {
    white-space: pre-wrap;
  }
}
