.userSearch.userSearch {
  max-width: 500px;
  padding: 0.5rem;
  z-index: 20;
}
.userSearch__matches {
  max-height: 300px;
  margin-top: 0.5rem;
  position: relative;
}
.userSearch__match.userSearch__match {
  padding: 0.25rem;
  padding-left: 0.75rem;
}
.userSearch__match > p {
  font-size: 14px !important;
}
.userSearch__login {
  font-size: 8px !important;
  padding-left: 0.5rem;
}
.userSearch__button {
  opacity: 0;
  visibility: hidden;
}
.userSearch__match:hover .userSearch__button {
  opacity: 1;
  visibility: visible;
}
.userSearch__footer {
}

.userWindow__content {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
.userWindow__hourglass.userWindow__hourglass {
  position: absolute;
  width: 200px;
  height: 125px;
  left: calc(50% - 100px);
  margin-top: 2rem;
  z-index: 2;
}
.userContent {
  height: 100%;
  position: relative;
}
.userContent__tabs.-disabled {
  pointer-events: none;
}
.userContent__tab {
}
.userContent__tabs.-disabled .userContent__tab {
  color: #6c6c6c;
}
.userContent__tabs.-disabled .badge {
  display: none;
}
.userContent__tabBody.userContent__tabBody {
  position: absolute;
  top: 33px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 0.75rem;
}
.userContent__body {
  width: 100%;
  height: 100%;
}
.userContent__bodyInner {
  height: 100%;
  border: 1px inset;
}
.userContent__intro {
  margin-top: 3rem;
}

/* User content overview */
.overview {
}

.overview__header {
  padding: 2rem;
}
.overview__profile {
  display: table;
  min-width: 350px;
  max-width: 500px;
  margin: auto;
}
.overview__profileImage {
  position: relative;
  width: 135px;
  height: 135px;
  border: 1px outset;
}
.overview__profileImage > img {
  width: 135px;
  height: 135px;
  image-rendering: pixelated;
}
.overview__title {
}
.overview__login.overview__login {
  position: relative;
  top: -4px;
}
.overview__profileDetails {
  position: relative;
  padding: 0.25rem 0 0 2rem;
}
.overview__bio {
  max-width: 500px;
}
.overview__bioCopy {
  line-height: 16px;
}
.overview__links {
  max-width: 300px;
  margin-top: 1.5rem;
}
.overview__link.overview__link {
  position: relative;
  padding-left: 22px;
  margin-left: 1.1rem;
}
.overview__link:first-of-type {
  margin-left: 0;
}
.overview__link:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  image-rendering: pixelated;
  background-size: contain;
}
.overview__link.-profile:before {
  background-image: url("../../assets/profile-icon.png");
}
.overview__link.-email:before {
  background-image: url("../../assets/email-icon.png");
  bottom: -4px;
  left: -7px;
}

.overview__badges {
  max-width: 500px;
  margin: 2rem auto 0;
}
.overview__badge.overview__badge {
  margin-left: 0;
  margin-right: 0.75rem;
  text-align: center;
}
.overview__badge.overview__badge:last-of-type {
  margin-right: 0;
}
.overview__statusWrapper {
  display: table;
  min-width: 150px;
  max-width: 350px;
  margin: 2rem auto 0rem;
}

.overview__status {
  position: relative;
  padding: 1rem 1rem 2rem;
  border: 1px solid #c0c0c0;
  background-color: #fff;
}
.overview__status:after {
  position: absolute;
  content: "";
  top: 100%;
  left: calc(50% - 30px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 20px 0 0;
  border-color: #fff transparent transparent transparent;
}
.overview__status > span {
  position: absolute;
  right: 1rem;
  bottom: 0.75rem;
  color: #8ca7ec;
  font-size: 7px !important;
}
.overview__statusTitle {
}
.overview__statusTitle > p {
  position: relative;
  display: table;
  padding-left: 27px !important;
  margin: 1.5rem auto 0 !important;
}
.overview__statusTitle > p:before {
  position: absolute;
  content: "";
  top: 3px;
  left: 5px;
  width: 18px;
  height: 18px;
  background: url("../../assets/status.png") no-repeat 0 0;
  background-size: contain;
}
/*  */
.overview__body {
  padding: 1rem;
}
.overview__card {
  margin-top: 2rem;
}
.overview__card.-topCard {
  margin-top: 0;
}
.overview__chartWrapper {
  width: calc(50% - 0.75rem);
}
.overview__chart {
  background-color: #fff;
}
.overview__pins {
  width: calc(100% + 1rem);
  margin-left: -1rem;
}
.overview__pin {
  width: calc(50% - 1rem);
  margin: 0 0 1rem 1rem;
  padding: 0.5rem;
  background-color: #fff;
}
.overview__pinInner {
  padding: 0.5rem;
}
.overview__pinName {
  display: table;
  font-size: 14px !important;
  margin-bottom: 1rem;
}
.overview__pinDesc {
  margin-bottom: 0.5rem;
}
.overflow_contributions {
}
.overflow_contributionsTable {
  background-color: #fff;
}
/*  */
.overview__footer {
  margin-top: 1rem;
  padding: 2rem;
}

/* User repos */
.userRepos {
}
.userRepos__table {
}
.userRepos__headCell.-language,
.userRepos__headCell.-updated,
.userRepos__headCell.-link {
  width: 100px;
}
.userRepos__bodyCell.userRepos__bodyCell.-link {
  padding-left: 0.5rem;
}
.userRepos__badge.-language {
  position: relative;
  font-size: 8px !important;
  line-height: 16px;
  padding: 3px 5px 3px 26px;
}
.userRepos__badge.-language > span {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  left: -5px;
  top: 0;
}
.userRepos__repoName {
  font-size: 14px !important;
}
.userRepos__repoName > .badge {
  color: #000;
}
.userRepos__badges {
}
.userRepos__badge.badge {
  color: #000;
}
.userRepos__badges .userRepos__badge:first-of-type {
  margin-left: 0;
}
/* User followers & following */
.userFollows__cell {
}
.userFollows__cell.-link {
  width: 100px;
}
.userFollows__cell.-link > a {
  vertical-align: middle;
}
.userFollows__avatar {
  width: 60px;
  height: 60px;
  image-rendering: pixelated;
}
.userFollows__details {
  padding-left: 1rem;
}
.userFollows__name {
  font-size: 14px !important;
}
.userFollows__login.userFollows__login {
  position: relative;
  top: -3px;
  color: #000;
}
.userFollows__link {
  display: inline-block;
  margin-left: 0.5rem;
}
