.toolbar {
  padding-bottom: 7px;
  &__buttons {
    width: 135px;
  }
  &__button.toolbar__button {
    padding-right: 1rem;
    &:after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      right: 5px;
      top: calc(50% - 6px);
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
    }
    &.-disabled:after {
      opacity: 0.3;
    }
    &.-back {
      padding-right: 0.5rem;
      padding-left: 1rem;
      &:after {
        left: 3px;
        right: auto;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
      }
    }
  }
  &__search > label {
    font-size: 14px !important;
    line-height: 33px;
    padding: 0 0.25rem 0 0.5rem;
  }
  &__history {
    width: 135px;
    text-align: right;
  }
}

.searchInput {
  &__form {
    // width: 100%;
  }
  &__label {
    font-weight: bold;
    line-height: 35px;
  }
  &__input {
  }
  &__input > input {
    width: 300px;
  }
  &__button {
    font-weight: bold;
    padding: 0 1rem;
  }
}

.searchHistory {
  &.searchHistory {
    position: absolute;
    right: 4px;
    min-width: 100px;
    max-width: 150px;
    padding: 0.5rem;
    box-shadow: 0px 5px 5px 0px hsla(0, 0%, 0%, 0.3);
    display: none;
    &.-visible {
      display: block;
    }
  }
  &__button {
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    &.-current:after {
      position: absolute;
      content: "";
      left: 0;
      top: 5px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 8px solid #208c71;
    }
  }
}

.searchMatches {
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);

  &__panel.searchMatches__panel {
    width: 400px;
    height: 300px;
    padding: 0.5rem;
    box-shadow: 0px 5px 5px 0px hsla(0, 0%, 0%, 0.3);
  }
  &__inner {
    height: 100%;
  }
}
.userMatches__match.userMatches__match {
  padding: 0.25rem;
  padding-left: 0.75rem;
}
.userMatches__match > p {
  font-size: 14px !important;
}
.userMatches__login {
  font-size: 8px !important;
  padding-left: 0.5rem;
}
.userMatches__button {
  opacity: 0;
  visibility: hidden;
}
.userMatches__match:hover .userMatches__button {
  opacity: 1;
  visibility: visible;
}
