.toolbar {
  &__title {
    line-height: 35px;
    text-shadow: 1px 0 #050608;
    letter-spacing: 1px;
  }
  &__buttons,
  &__search {
    width: 255px;
  }
  &__button.toolbar__button {
    &.-nav {
      padding-right: 1rem;
    }
    &.-nav:after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      right: 5px;
      top: calc(50% - 6px);
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
    }
    &.-nav.-back {
      padding-right: 0.5rem;
      padding-left: 1rem;
      &:after {
        left: 3px;
        right: auto;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
      }
    }
    &.-disabled:after {
      opacity: 0.3;
    }
    &.-history {
      text-align: right;
    }
  }
  &__search > label {
    font-size: 14px !important;
    line-height: 33px;
    padding: 0 0.25rem 0 0.5rem;
  }
}

.searchForm {
  width: 100%;
  &__input {
    width: 100% !important;
  }
  &__button {
    padding: 0 1rem;
  }
}

.searchHistory {
  &.searchHistory {
    left: -60px;
    top: 35px;
    min-width: 150px;
    max-width: 120px;
    padding: 0.5rem;
    box-shadow: 0px 5px 5px 0px hsla(0, 0%, 0%, 0.3);
    display: none;
    &.-visible {
      display: block;
    }
  }
  &__button {
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    &.-current:after {
      position: absolute;
      content: "";
      left: 0;
      top: 5px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 8px solid #208c71;
    }
  }
}

.searchMatches {
  position: absolute;
  top: 43px;
  right: 5px;

  &__panel.searchMatches__panel {
    width: 300px;
    height: 300px;
    padding: 0.5rem;
    box-shadow: 0px 5px 5px 0px hsla(0, 0%, 0%, 0.3);
  }
  &__inner {
    height: 100%;
  }
  &__match.searchMatches__match {
    position: relative;
    padding: 0.25rem;
    padding-left: 0.75rem;
    > p {
      font-size: 12px !important;
    }
  }
  &__login {
    font-size: 8px !important;
    padding-left: 0.5rem;
  }
  &__button.searchMatches__button {
    position: absolute;
    right: 0.25rem;
    opacity: 0;
    visibility: hidden;
  }
  &__match:hover .searchMatches__button {
    opacity: 1;
    visibility: visible;
  }
}
