.startMenu {
  position: relative;
  float: left;
  &__menu.startMenu__menu {
    padding-left: 30px;
    &:before,
    &:after {
      position: absolute;
    }
    &:before {
      content: "";
      background-color: #808080;
      width: 30px;
      height: calc(100% - 4px);
      top: 1px;
      left: 1px;
    }
    &:after {
      content: "Github95";
      left: 8px;
      bottom: 0;
      color: #ededed;
      text-shadow: 1px 0px #ededed;
      letter-spacing: 2px;
      transform: rotate(-90deg);
      transform-origin: 0 0;
    }
  }
  &__triggerButton {
    text-shadow: -1px 0 hsla(0, 0%, 0%, 0.7);
  }
  &__logo {
    width: 22px;
    padding-right: 5px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
  &__menuItem {
    font-size: 12px !important;
    padding: 0 1rem 0 0.25rem;
    &.-soundItem {
      padding-right: 0;
      > span {
        color: #000 !important;
      }
    }
  }
}
