.userToolbar {
  max-width: 100%;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  z-index: 20;
}

.userWindow {
  height: 650px;
  width: 850px;
}

.userWindow__content {
  flex: 1;
}
.userWindow__hourglass.userWindow__hourglass {
  position: absolute;
  width: 200px;
  height: 125px;
  left: calc(50% - 100px);
  margin-top: 2rem;
  z-index: 2;
}
.userContent {
  height: 100%;
  position: relative;
}
.userContent__tabs.-disabled {
  pointer-events: none;
}
.userContent__tabs .userContent__tab {
  min-width: 100px;
  text-align: center;
}
.userContent__tabs.-disabled .userContent__tab {
  color: #6c6c6c;
}
.userContent__tab .badge {
  position: relative;
  top: -2px;
}
.userContent__tabs.-disabled .badge {
  display: none;
}
.userContent__tabBody.userContent__tabBody {
  position: relative;
}
.userContent__body {
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  left: 0.75rem;
  right: 0.75rem;
}
.userContent__bodyInner {
  height: 100%;
  border: 1px inset;
}
.userContent__intro {
  margin-top: 3rem;
}

/* User content overview */
.overview {
  &__header {
    padding: 1rem;
  }
  &__headerCol {
    width: 50%;
  }
  &__profileImage {
    position: relative;
    width: 135px;
    height: 135px;
    border: 1px outset;
    > img {
      width: 135px;
      height: 135px;
      image-rendering: pixelated;
    }
  }
  &__user {
    padding-left: 1.25rem;
    .badge {
      margin: 0 0 0.5rem 0;
    }
  }
  &__name {
    // color: #ededed;
    line-height: 2;
    margin-bottom: 0.5rem;
  }

  &__link {
    position: relative;
    display: block;
    padding-left: 22px;
    margin-top: 0.5rem;
    line-height: 2;
    // color: #ededed !important;
    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 25px;
      height: 25px;
      image-rendering: pixelated;
      background-size: contain;
    }
    &.-profile:before {
      background-image: url("../../assets/profile-icon.png");
    }
    &.-email {
      padding-left: 26px;
      &:before {
        background-image: url("../../assets/email-icon.png");
        bottom: -4px;
        left: -3px;
      }
    }
  }

  &__bio {
    padding: 0 0.15rem;
  }

  &__status {
    padding: 0 0.15rem 0.25rem;
  }

  &__statusUpdate {
    position: relative;
    background-color: #fff;
    color: #000;
    border: 1px outset;
    padding: 0.25rem 0.5rem 0.75rem 0.5rem;
    margin-left: 0.75rem;
    &:after {
      position: absolute;
      content: "";
      top: calc(50% - 7px);
      left: -7px;
      width: 0;
      height: 0;
      margin-right: 0.5rem;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid #fff;
    }
    > span {
      position: absolute;
      right: 0.5rem;
      bottom: 0.15rem;
      color: #8ca7ec;
      font-size: 7px !important;
    }
  }
  &__headerBadges {
    padding: 0.75rem 3rem 1.25rem;
    background-color: #fff;
  }
  &__headerBadge {
    width: calc(33% - 0.75rem);
    text-align: center;
  }
  &__headerBadgeNumber {
    font-size: 14px !important;
    padding-right: 0.25rem;
  }
  &__events {
    margin-top: 0.75rem;
    padding: 0.5rem;
  }

  &__body {
    padding: 0 1rem;
  }

  &__chartWrapper {
    background-color: #fff;
  }
  &__chartCol {
    width: 50%;
  }
}
/*  */

.overview__pins {
  width: calc(100% + 1rem);
  margin-left: -1rem;
}
.overview__pin {
  width: calc(50% - 1rem);
  margin: 0 0 1rem 1rem;
  padding: 0.5rem;
  background-color: #fff;
}
.overview__pinInner {
  padding: 0.5rem;
}
.overview__pinName {
  display: table;
  font-size: 14px !important;
  margin-bottom: 1rem;
}
.overview__pinDesc {
  margin-bottom: 0.5rem;
}
.overflow_contributions {
}
.overflow_contributionsTable {
  background-color: #fff;
}
/*  */
.overview__footer {
  margin-top: 1rem;
  padding: 2rem;
}

/* User repos */
//
/* User followers & following */
.userFollows__avatar {
  width: 60px;
  height: 60px;
  image-rendering: pixelated;
}
.userFollows__details {
  padding-left: 1rem;
}
.userFollows__login.userFollows__login {
  position: relative;
  top: -3px;
  color: #000;
}
/* User gists */
.gist {
  padding: 1rem;
  &__header {
    padding: 0 0 0.5rem 5px;
  }
  &__block {
    position: relative;
  }
  &__title {
  }
  &__cutout {
    max-height: 300px;
    overflow: hidden;
    background-color: #3a3a3a;
  }
  &__code {
    position: relative;
    color: #fff;
    padding: 0.65rem;
    line-height: 1.8;
    > p {
      margin-bottom: 0.5rem;
      text-shadow: -1px 0 #fff;
      letter-spacing: 1px;
    }

    &:after {
      position: absolute;
      content: "";
      height: 90px;
      left: 0;
      right: 0;
      top: 210px;
      background-image: linear-gradient(0deg, #3a3a3a 20%, transparent 100%);
    }
  }
  &__url {
    position: absolute;
    bottom: 2rem;
    right: 1.25rem;
  }
}
