.repoWindow {
  width: 800px;
  height: 600px;
  &__content {
    flex: 1;
    height: 100%;
  }
  &__header {
    padding: 0.5rem 2px;
    > h1 {
      max-width: 350px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-shadow: 1px 0 #050608;
      line-height: 20px;
      letter-spacing: 1px;
      padding-left: 0.25rem;
    }
    > div > .badge {
      text-align: center;
      line-height: 11px;
      height: 12px;
    }
    > div > a {
      margin-left: 5px;
    }
  }
  &__tab.repoWindow__tab {
    min-width: 100px;
    text-align: center;
  }
  &__tabBody.repoWindow__tabBody {
    position: relative;
    overflow: hidden;
  }
  &__body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.75rem;
    > div {
      height: 100%;
    }
  }

  &__tabTitle {
    font-size: 16px !important;
    padding: 0.5rem 0 1rem;
    &.-name {
      padding-top: 0;
    }
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__topics {
    margin-bottom: 1rem;
    > p:first-child {
      margin-left: 0;
    }
  }

  &__details {
    background-color: #fff;
    padding: 0.75rem 3rem 1.5rem;
    img {
      position: relative;
      top: 3px;
      margin-right: 0.25rem;
    }
  }

  &__languages {
    margin: 1rem 0;
  }
  &__moreLanguages {
    font-size: 8px !important;
    margin-left: 0.5rem;
  }

  &__about {
    padding: 1rem;
    border: 1px inset #ededed;
    flex-grow: 1;
  }

  // Files tab
  &__files {
    max-height: calc(100% - 3.5rem);
  }
  &__filesCol {
    border: 1px inset #ededed;
    padding: 0.5rem;
    background-color: #fff;
    &.-tree {
      width: 33%;
    }
    &.-preview {
      width: 66%;
      margin-left: 0.75rem;
      > pre {
        white-space: pre-wrap;
      }
    }
  }
}

.readme {
  &__body {
    padding: 1rem;
    background-color: #fff;
    border: 2px inset #ededed;
    * {
      margin-bottom: 0.5rem;
      line-height: 2;
      max-width: 100%;
      overflow: hidden;
    }
    li {
      overflow: visible;
    }
    h1,
    h2,
    h3 {
      margin: 1rem 0;
    }
    h1 a {
      font-size: 100% !important;
    }
    a {
      color: #1c44ac;
    }
    ul,
    ol {
      padding-left: 1rem;
      > li {
        list-style: square;
        list-style-type: square;
      }
    }
    img {
      image-rendering: pixelated;
    }
    pre {
      background-color: #ededed;
      padding: 1rem;
    }
  }
}

.filePreview {
  h2 {
    margin-bottom: 1rem;
  }
  pre {
    white-space: pre-wrap;
  }
}

.issues,
.pullRequests {
  padding: 1rem;
  &__titleWrapper {
    white-space: nowrap;
    max-width: 500px;
  }
  &__title {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__login {
    margin-left: 5px !important;
    color: #000 !important;
  }
  &__listItem {
    position: relative;
    padding: 1rem;
    background-color: #fff;
    border: 2px inset #ededed;
    .badge {
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__commentBody {
    position: relative;
  }
  &__commentText {
    line-height: 1.2rem;
    max-height: 3.6rem;
    overflow: hidden;
    &.-fade:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100px;
      height: 1.2rem;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
      pointer-events: none;
    }
  }
}

.issues {
  &__tableCell {
    &:last-of-type {
      width: 145px;
    }
    .badge {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.pullRequests {
  padding: 1rem;
}
