.searchInput {
  &__form {
    width: 100%;
  }
  &__label {
    font-weight: bold;
    line-height: 35px;
  }
  &__input {
    margin: 0 5px;
  }
  &__input > input {
    width: 300px;
  }
  &__button {
    font-weight: bold;
    padding: 0 1rem;
  }
}
