.repoSearch {
  &__content {
    height: 650px;
    width: 850px;
  }
}

.repoTabs {
  &__tabBody.repoTabs__tabBody {
    padding: 0.75rem;
    > section {
      height: 100%;
    }
  }
  &__tab {
    min-width: 100px;
    text-align: center;
  }
}

.repoTab {
  &__header {
    text-align: center;
    > h1 {
      line-height: 35px;
      text-shadow: 1px 0 #050608;
      letter-spacing: 1px;
      padding-bottom: 0.5rem;
    }
  }
  &__toolbar {
    padding: 0.5rem;
    margin: 0 -0.5rem;
    .badge {
      width: 100px;
      line-height: 17px;
    }
  }
  &__body {
    position: relative;
    margin-top: 1rem;
  }
  &__results {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px inset;
    background-color: #fff;
  }
}

.searchBar {
  width: 500px;
}

.sort {
  position: relative;
  &__select {
    > div {
      font-size: 10px;
      line-height: 2;
    }
  }
  &.-disabled {
    pointer-events: none;
    > div:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #ced0cf;
      opacity: 0.5;
    }
  }
  > p {
    padding: 0 0.25rem 0 0.5rem;
  }
}

.topic {
  margin: 1rem;
  &__copy {
    padding-left: 1rem;
  }
  img {
    width: 32px;
    height: 32px;
  }
  h3 {
    padding-bottom: 1rem;
  }
  .badge {
    margin: auto 0 auto auto;
    line-height: 12px;
    text-align: center;
  }
}

.searchResults {
  height: 100%;
  > div {
    flex: auto;
  }
  &__tableBadges {
    margin-left: -5px;
  }
}
