.repoSearch {
  &__content {
    height: 650px;
    width: 710px;
  }
  &__body {
    position: relative;
    border: 2px inset #ededed;
  }
  &__results {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__footer {
    margin-top: 5px;
    height: 30px;
    border: 2px inset #ededed;
  }
}

.searchBar {
  height: 145px;
  margin: 0.75rem 0.5rem;
  &__tab {
  }
  &__tabBody {
  }
  &__form {
  }
  &__label {
    min-width: 3rem;
    &.-checkbox {
      margin-left: auto;
      margin-right: 0.75rem;
    }
  }
  &__input {
    &.-select {
      z-index: 11; // higher than table
      > div {
        font-size: 10px;
        line-height: 2;
      }
    }
  }
  &__checkboxes {
    position: relative;
    top: 5px;
  }
  &__button {
  }
}

.searchForm {
  &__magGlass {
    position: relative;
    height: 60px;
  }
}

.topic {
  margin: 1rem;
  &__copy {
    padding-left: 1rem;
  }
  img {
    width: 32px;
    height: 32px;
  }
  h3 {
    padding-bottom: 0.25rem;
  }
  .badge {
    margin: auto 0 auto auto;
    line-height: 12px;
    text-align: center;
  }
}

.searchResults {
  height: 100%;
  > div {
    flex: auto;
  }
  &__tableBadges {
    margin-left: -5px;
  }
}
