.mostFollowedWindow {
  &__th.-first {
    width: 48%;
  }
  &__td {
    padding: 0 0.25rem !important;
    text-align: right;
    background-color: #fff !important;
    color: #000 !important;
    &.-first {
      text-align: left;
    }
  }
  &__tdImg {
    position: relative;
    top: 1px;
    margin: 0 0.5rem 0 0.25rem;
    pointer-events: none;
  }
  &__footer {
    position: relative;
    top: 4px;
    border: 2px inset #ededed;
    > p {
      padding: 0.25rem 0.5rem;
    }
  }
}
