.repoSearch {
  height: 100%;

  &__content {
    position: relative;
  }
  &__results {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.searchBar {
  height: 145px;
  margin: 0.75rem 0.5rem;
  &__tab {
  }
  &__tabBody {
  }
  &__form {
  }
  &__label {
    min-width: 3rem;
    &.-checkbox {
      margin-left: auto;
      margin-right: 0.75rem;
    }
  }
  &__input {
    &.-select {
      z-index: 11; // higher than table
      > div {
        font-size: 10px;
        line-height: 2;
      }
    }
  }
  &__checkboxes {
    position: relative;
    top: 5px;
  }
  &__button + .searchBar__button {
    margin-top: 4px;
  }
  &__icon,
  &__icon > img {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
  }
  &__icon {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px; // visually centered better
    opacity: 0;
    visibility: hidden;
    animation-name: orbitForwards;
    > img {
      position: absolute;
      width: 20px;
      height: 20px;
      top: -10px;
      left: calc(50% - 10px);
      animation-name: orbitBack;
    }

    &.-searching {
      opacity: 1;
      visibility: visible;
    }
  }
}

.searchForm {
  &__magGlass {
    position: relative;
    height: 60px;
  }
}

.topic {
  margin: 1rem;
  &__copy {
    padding-left: 1rem;
  }
  img {
    width: 32px;
    height: 32px;
  }
  h3 {
    padding-bottom: 0.25rem;
  }
  .badge {
    margin: auto 0 auto auto;
    line-height: 12px;
    text-align: center;
  }
}

.searchResults {
  height: 100%;
  > div {
    flex: auto;
  }
  &__body {
    height: 100%;
    border: 2px inset #ededed;
  }
  &__footer {
    margin-top: 5px;
    height: 32px;
    border: 2px inset #ededed;
  }
  &__tableBadges {
    margin-left: -5px;
  }
  &__pagination {
    position: absolute;
    width: 100%;
    button {
      height: 28px;
      padding-bottom: 1px;
    }
  }
}

@keyframes orbitForwards {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes orbitBack {
  from {
    -webkit-transform: rotate(-0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
