/* Desktop */
.desktop__button {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
}
.desktop__image {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Start menu */
.startMenu.startMenu {
  padding-left: 30px;
}
.startMenu:before {
  position: absolute;
  content: "";
  background-color: #808080;
  width: 30px;
  height: calc(100% - 4px);
  top: 1px;
  left: 1px;
}
.startMenu:after {
  position: absolute;
  content: "Github95";
  left: 8px;
  bottom: 0;
  color: #d2d2d2;
  text-shadow: 1px 0px #d2d2d2;
  letter-spacing: 2px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.startMenu__logo {
  width: 22px;
  padding-right: 5px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Window */
.windowFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 700px;
  max-height: 100%;
}
.windowFrame.-small {
  width: auto;
  height: auto;
}
.windowFrame__inner.windowFrame__inner {
  display: flex;
  height: 100%;
}
.windowFrame__content.windowFrame__content {
  flex: 1;
  padding: 0;
}
.windowFrame__contentInner {
  position: relative;
  height: calc(100% - 4px);
}
.windowHeader.-inactive {
  background: #999;
}
.windowButton__icon.-close {
  font-weight: bold;
  transform: translateY(-2px);
  pointer-events: none;
}

/* User profile */
.userWindow__search {
  align-items: center;
  padding-bottom: 10px;
}
.userWindow__content {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.userContent {
  height: 100%;
  position: relative;
}
.userContent__tab {
}
.userContent__body.userContent__body {
  position: absolute;
  top: 33px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 0.75rem;
}
.userContent__bodyInner {
  height: 100%;
  border: 1px inset;
}

/* User content overview */
.overview {
}

.overview__header {
  padding: 2rem;
}
.overview__profile {
  display: table;
  min-width: 350px;
  max-width: 500px;
  margin: auto;
}
.overview__profileImage {
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px outset;
}
.overview__profileImage > img {
  width: 110px;
  height: 110px;
  image-rendering: pixelated;
}
.overview__title {
}
.overview__url {
  margin-top: 0.5rem;
}
.overview__profileDetails {
  position: relative;
  padding: 0.25rem 0 0 2rem;
}
.overview__bio {
  max-width: 500px;
  margin-top: 1.5rem;
}
.overview__bioCopy {
  line-height: 1.7;
}
.overview__links {
  max-width: 300px;
  margin-top: 2rem;
}
.overview__link.overview__link {
  padding-left: 27px;
  margin-left: 1rem;
}
.overview__link:first-of-type {
  margin-left: 0;
}
.overview__link:before {
  position: absolute;
  content: "";
  top: 7px;
  width: 18px;
  height: 18px;
  image-rendering: pixelated;
  background-size: contain;
}
.overview__link.-profile:before {
  background-image: url("./assets/profile-icon.png");
  left: 10px;
}
.overview__link.-email:before {
  background-image: url("./assets/email-icon.png");
  left: 6px;
}

.overview__badges {
  max-width: 500px;
  margin: 2rem auto 0;
}
.overview__badge.overview__badge {
  margin-left: 0;
  padding: 0.5rem;
  margin-right: 0.75rem;
  text-align: center;
}
.overview__badge.overview__badge:last-of-type {
  margin-right: 0;
}
.overview__statusWrapper {
  display: table;
  min-width: 150px;
  max-width: 350px;
  margin: 2rem auto 0rem;
}

.overview__status {
  position: relative;
  padding: 1rem 1rem 2rem;
  border: 1px solid #c0c0c0;
  background-color: #fff;
}
.overview__status:after {
  position: absolute;
  content: "";
  top: 100%;
  left: calc(50% - 30px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 20px 0 0;
  border-color: #fff transparent transparent transparent;
}
.overview__status > span {
  position: absolute;
  right: 1rem;
  bottom: 0.75rem;
  color: #8a96e1;
  font-size: 7px !important;
}
overview__statusTitle {
}
.overview__statusTitle > p {
  position: relative;
  display: table;
  padding-left: 27px !important;
  margin: 1.5rem auto 0 !important;
}
.overview__statusTitle > p:before {
  position: absolute;
  content: "";
  top: 3px;
  left: 5px;
  width: 18px;
  height: 18px;
  background: url("./assets/status.png") no-repeat 0 0;
  background-size: contain;
}
/*  */
.overview__body {
  padding: 1rem;
}
.overview__charts {
  margin-top: 1rem;
}
.overview__chartWrapper {
  width: calc(50% - 0.75rem);
}
.overview__chart {
  background-color: #fff;
}
.overview__pins,
.overflow_contributions {
  margin-top: 2rem;
}
.overview__pin {
  padding: 0.5rem;
}
.overview__pinInner {
  padding: 0.5rem;
}
.overflow_contributions {
}
.overflow_contributionsTable {
  background-color: #fff;
}
/*  */
.overview__footer {
  margin-top: 1rem;
  padding: 2rem;
}

/* User repos */
.userRepos {
}
.userRepos__table {
}
.userRepos__table > tbody > tr > td {
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
.userRepos__table > tbody > tr:nth-of-type(even) > td {
  background-color: #ededed;
}
.userRepos__table > tbody > tr:hover > td {
  background-color: #c9d0ff;
  color: #000;
}
.userRepos__headCell {
  position: sticky;
  top: 2px;
  z-index: 10;
}
.userRepos__headCell:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0px 0px 0px 2px #000;
}
.userRepos__headCell.-language,
.userRepos__headCell.-link {
  width: 90px;
}
.userRepos__bodyCell.userRepos__bodyCell {
  padding: 1rem;
}
.userRepos__bodyCell.userRepos__bodyCell.-link {
  padding-left: 0.5rem;
}
.userRepos__badge.-language {
  position: relative;
  font-size: 8px !important;
  line-height: 2;
  padding: 3px 5px 3px 26px;
}
.userRepos__badge.-language > span {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  left: -5px;
  top: 0;
}
.userRepos__repoName {
  font-size: 14px !important;
}
.userRepos__badges {
}
.userRepos__badge {
  display: inline-block;
}
.userRepos__badges .userRepos__badge:first-of-type {
  margin-left: 0;
}

/* Scrollable sections 
https://codepen.io/louh/pen/oZJQvm?editors=1100
(no custom scroll bars for Firefox mac. This may work on FF windows but basic appearance -> https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars)
*/

.scrollable.-yOnly {
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable.-xOnly {
  overflow-x: auto;
}
.scrollable::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.scrollable::-webkit-scrollbar-track {
  border-left: 1px solid #cfd0cf;
  background-color: #9a9a9a;
  background-image: linear-gradient(
      45deg,
      #cfd0cf 25%,
      transparent 25%,
      transparent 75%,
      #cfd0cf 75%,
      #cfd0cf
    ),
    linear-gradient(
      45deg,
      #cfd0cf 25%,
      transparent 25%,
      transparent 75%,
      #cfd0cf 75%,
      #cfd0cf
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
.scrollable::-webkit-scrollbar-track:active {
  background-color: #606060;
}

.scrollable::-webkit-scrollbar-thumb {
  border-top: 1px solid #ced0cf;
  border-left: 1px solid #ced0cf;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 1px 1px 0 0 #fff, inset -1px -1px 0 0 #868a8e;
  width: 16px;
  height: 16px;
  background-color: #ced0cf;
  z-index: 1;
}

.scrollable::-webkit-scrollbar-corner {
  background-color: #ced0cf;
}

.scrollable::-webkit-scrollbar-button,
.scrollable::-webkit-scrollbar-button {
  border-top: 1px solid #ced0cf;
  border-left: 1px solid #ced0cf;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 1px 1px 0 0 #fff, inset -1px -1px 0 0 #868a8e;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #c3c7cb;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center center;
}
.scrollable::-webkit-scrollbar-button:active,
.scrollable::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
}
.scrollable::-webkit-scrollbar-button:horizontal:decrement,
.scrollable::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
}
.scrollable::-webkit-scrollbar-button:horizontal:increment,
.scrollable::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
}
.scrollable::-webkit-scrollbar-button:vertical:decrement,
.scrollable::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=");
}
.scrollable::-webkit-scrollbar-button:vertical:increment,
.scrollable::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");
}
.scrollable::-webkit-scrollbar-button:horizontal:increment:start,
.scrollable::-webkit-scrollbar-button:horizontal:increment:start {
  display: none;
}
.scrollable::-webkit-scrollbar-button:horizontal:decrement:end,
.scrollable::-webkit-scrollbar-button:horizontal:decrement:end {
  display: none;
}
.scrollable::-webkit-scrollbar-button:vertical:increment:start,
.scrollable::-webkit-scrollbar-button:vertical:increment:start {
  display: none;
}
.scrollable::-webkit-scrollbar-button:vertical:decrement:end,
.scrollable::-webkit-scrollbar-button:vertical:decrement:end {
  display: none;
}
.scrollable::-webkit-scrollbar-button:active,
.scrollable::-webkit-scrollbar-button:active {
  border: 1px solid #868a8e;
  box-shadow: none;
}

/* Badge */
.badge {
  padding: 3px 5px;
  margin-left: 5px;
  font-size: 8px !important;
  line-height: 8px;
  border: 1px inset;
  background-color: #b4decb;
  background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
.badge.-red {
  background-color: #f7c4c4;
}
.badge.-grey {
  background-color: #e2e2e2;
}
.badge.-blue {
  background-color: #c9d0ff;
}

/* Anchor button (styles copied & amended from react95) */
.anchorButton {
  position: relative;
  box-sizing: border-box;
  /* display: inline-block; */
  background-color: #ced0cf;
  color: #050608;
  border-style: solid;
  border-width: 2px;
  border-left-color: #ffffff;
  border-top-color: #ffffff;
  border-right-color: #050608;
  border-bottom-color: #050608;
  box-shadow: inset 1px 1px 0px 1px #dfe0e3, inset -1px -1px 0 1px #888c8f;
  height: 30px;
  padding: 0.5rem;
  text-align: center;
}
.anchorButton:hover,
.anchorButton:active {
  background-color: #ededed;
  color: #394dcd;
}
.anchorButton:active {
  border-left-color: #050608;
  border-top-color: #050608;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  box-shadow: inset 1px 1px 0px 1px #888c8f, inset -1px -1px 0 1px #dfe0e3;
}

/* Card */
.card {
  position: relative;
  color: #050608;
  background-color: #ced0cf;
  border: 2px outset #c0c0c0;
  box-shadow: inset 1px 1px 0px 1px #dfe0e3, inset -1px -1px 0 1px #888c8f;
  padding: 1rem;
}
.card.-bgWhite {
  background-color: #fff;
}

/* Atomic styles */
.bevelBorder {
  border: 2px outset;
}
.bevelBorder-inset {
  border: 2px inset;
}

.bgBlue {
  background-color: #394dcd;
  background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}

.bgGrey {
  background-color: #e2e2e2;
  background-image: linear-gradient(
      45deg,
      #ececec 25%,
      transparent 25%,
      transparent 75%,
      #ececec 75%,
      #ececec
    ),
    linear-gradient(
      45deg,
      #ececec 25%,
      transparent 25%,
      transparent 75%,
      #ececec 75%,
      #ececec
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
