/* General styles -  these are used throughout the app */
.fontSize14 {
  font-size: 14px !important;
}

/* Badge */
.badge {
  display: inline-block;
  padding: 0.5rem;
  margin-left: 5px;
  font-size: 8px !important;
  line-height: 10px;
  border: 1px inset;
  background-color: #dbf4e8;
  background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
.badge.-small {
  padding: 3px 5px;
}
.badge.-red {
  background-color: #f7c4c4;
}
.badge.-grey {
  background-color: #ededed;
}
.badge.-blue {
  background-color: #c9d0ff;
}
.badge.-textBlack {
  color: #000 !important;
}

.languageBadge {
  position: relative;
  font-size: 8px !important;
  line-height: 16px;
  padding: 3px 5px 3px 26px;
}
.languageBadge > .badge {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  left: -5px;
  top: 0;
}

/* Borders */
.bevelBorder {
  border: 2px inset;
}
.bevelBorder-outset {
  border: 2px outset;
}
.gradientBorder {
  position: relative;
}
.gradientBorder:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.15) 75%,
      hsla(0, 0%, 100%, 0.15)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.15) 75%,
      hsla(0, 0%, 100%, 0.15)
    ),
    linear-gradient(to right, #606e92, #8ca7ec 50%, #606e92 100%);
  background-size: 3px 3px, 3px 3px, cover;
  background-position: 0 0, 1.5px 1.5px, 00;
}

/* Backgrounds */
.bgBlue {
  background-color: #606e92;
  background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.15) 75%,
      hsla(0, 0%, 100%, 0.15)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.15) 75%,
      hsla(0, 0%, 100%, 0.15)
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}

.bgGrey {
  background-color: #ededed;
  background-image: linear-gradient(
      45deg,
      #ededed 25%,
      transparent 25%,
      transparent 75%,
      #ededed 75%,
      #ededed
    ),
    linear-gradient(
      45deg,
      #ededed 25%,
      transparent 25%,
      transparent 75%,
      #ededed 75%,
      #ededed
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}

/* Tables */
.table__headCell {
  position: sticky;
  top: 2px;
  z-index: 10;
}
.table__headCell.-fixedWidth,
.table__bodyCell.-fixedWidth {
  width: 100px;
}

.table__headCell:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0px 0px 0px 2px #000;
}
.table__bodyCell.table__bodyCell {
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.25) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.25) 75%,
      hsla(0, 0%, 100%, 0.25)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.25) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.25) 75%,
      hsla(0, 0%, 100%, 0.25)
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
  padding: 1rem;
  vertical-align: middle;
}
.table__bodyRow:nth-of-type(even) > .table__bodyCell {
  background-color: #ededed;
}
.table__bodyRow:hover > .table__bodyCell {
  background-color: #606e92;
}

/* Scrollable sections 
https://codepen.io/louh/pen/oZJQvm?editors=1100
(no custom scroll bars for Firefox mac. This may work on FF windows but basic appearance -> https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars)
*/

.scrollable.-yOnly {
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable.-xOnly {
  overflow-x: auto;
}
.scrollable::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.scrollable::-webkit-scrollbar-track {
  border-left: 1px solid #ced0cf;
  background-color: #999;
  background-image: linear-gradient(
      45deg,
      #ced0cf 25%,
      transparent 25%,
      transparent 75%,
      #ced0cf 75%,
      #ced0cf
    ),
    linear-gradient(
      45deg,
      #ced0cf 25%,
      transparent 25%,
      transparent 75%,
      #ced0cf 75%,
      #ced0cf
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
.scrollable::-webkit-scrollbar-track:active {
  background-color: #6c6c6c;
}

.scrollable::-webkit-scrollbar-thumb {
  border-top: 1px solid #ced0cf;
  border-left: 1px solid #ced0cf;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 1px 1px 0 0 #fff, inset -1px -1px 0 0 #6c6c6c;
  width: 16px;
  height: 16px;
  background-color: #ced0cf;
  z-index: 1;
}

.scrollable::-webkit-scrollbar-corner {
  background-color: #ced0cf;
}

.scrollable::-webkit-scrollbar-button,
.scrollable::-webkit-scrollbar-button {
  border-top: 1px solid #ced0cf;
  border-left: 1px solid #ced0cf;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 1px 1px 0 0 #fff, inset -1px -1px 0 0 #6c6c6c;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ced0cf;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center center;
}
.scrollable::-webkit-scrollbar-button:active,
.scrollable::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
}
.scrollable::-webkit-scrollbar-button:horizontal:decrement,
.scrollable::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
}
.scrollable::-webkit-scrollbar-button:horizontal:increment,
.scrollable::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
}
.scrollable::-webkit-scrollbar-button:vertical:decrement,
.scrollable::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=");
}
.scrollable::-webkit-scrollbar-button:vertical:increment,
.scrollable::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");
}
.scrollable::-webkit-scrollbar-button:horizontal:increment:start,
.scrollable::-webkit-scrollbar-button:horizontal:increment:start {
  display: none;
}
.scrollable::-webkit-scrollbar-button:horizontal:decrement:end,
.scrollable::-webkit-scrollbar-button:horizontal:decrement:end {
  display: none;
}
.scrollable::-webkit-scrollbar-button:vertical:increment:start,
.scrollable::-webkit-scrollbar-button:vertical:increment:start {
  display: none;
}
.scrollable::-webkit-scrollbar-button:vertical:decrement:end,
.scrollable::-webkit-scrollbar-button:vertical:decrement:end {
  display: none;
}
.scrollable::-webkit-scrollbar-button:active,
.scrollable::-webkit-scrollbar-button:active {
  border: 1px solid #6c6c6c;
  box-shadow: none;
}
