/* General styles -  these are used throughout the app */
.fontSize14 {
  font-size: 14px !important;
}

/* Pixelate images */
.pixelated {
  image-rendering: pixelated;
}

/* Badge */
.badge {
  display: inline-block;
  padding: 0.5rem;
  margin-left: 5px;
  font-size: 8px !important;
  line-height: 10px;
  border: 1px inset #ededed;
  background-color: #dbf4e8;
  background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.55) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.55) 75%,
      hsla(0, 0%, 100%, 0.55)
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
.badge.-small {
  padding: 3px 5px;
}
.badge.-red {
  background-color: #f7c4c4;
}
.badge.-grey {
  background-color: #ededed;
}
.badge.-blue {
  background-color: #c9d0ff;
}
.badge.-textBlack {
  color: #000 !important;
}

.languageBadge {
  position: relative;
  font-size: 8px !important;
  line-height: 16px;
  padding: 3px 5px 3px 26px;
}
.languageBadge > .badge {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  left: -5px;
  top: 0;
}

/* Borders */
.bevelBorder {
  border: 2px inset #ededed;
}
.bevelBorder-outset {
  border: 2px outset #ededed;
}
.bevelBorder-small {
  border: 1px inset #ededed;
}
.flatBorder {
  border: 2px solid #ced0cf;
}
.gradientBorder {
  position: relative;
}
.gradientBorder:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.15) 75%,
      hsla(0, 0%, 100%, 0.15)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.15) 75%,
      hsla(0, 0%, 100%, 0.15)
    ),
    linear-gradient(to right, #606e92, #8ca7ec 50%, #606e92 100%);
  background-size: 3px 3px, 3px 3px, cover;
  background-position: 0 0, 1.5px 1.5px, 00;
}

/* Gradient background - based on https://codepen.io/coreh/pen/LQJBLa?editors=1100 */
.bgGradient {
  background: linear-gradient(160deg, #c9d0ff 0%, #fff 80%);
  position: relative;
  overflow: hidden;
}
.bgGradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-blend-mode: multiply;
  background: radial-gradient(3px 3px, transparent, white);
  background-size: 3px 3px;
}

/* Tooltip */
.tooltipTop.tooltipTop {
  transform: translate(-50%, -120%);
}
.tooltipOverlay.tooltipOverlay {
  transform: translate(-50%, 0%);
}

/* Tabs */
.tabs {
  margin-bottom: -2px !important;
}
.tabs__tab {
  height: 30px !important;
}

/* Tables */
.table {
  table-layout: fixed;
}
.table__headCell {
  position: sticky !important;
  top: 4px;
  z-index: 10;
}
.table__headCell.-fixedWidth,
.table__bodyCell.-fixedWidth {
  width: 100px;
}
.table__headCell.-fixedWidth.-small,
.table__bodyCell.-fixedWidth.-small {
  width: 70px;
}

.table__headCell:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: -1px;
  z-index: -1;
  box-shadow: 0px 0px 0px 1px #000, 0px -1px 0px 2px #848584;
}
.table__bodyCell.table__bodyCell {
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.25) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.25) 75%,
      hsla(0, 0%, 100%, 0.25)
    ),
    linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.25) 25%,
      transparent 25%,
      transparent 75%,
      hsla(0, 0%, 100%, 0.25) 75%,
      hsla(0, 0%, 100%, 0.25)
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
  padding: 1rem;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table__bodyRow:nth-of-type(even) > .table__bodyCell {
  background-color: #ededed;
}
.table__bodyRow:hover > .table__bodyCell {
  background-color: #606e92;
}

/* Explorer window */
.explorerWindow {
  width: 750px;
  height: 550px;
}
.explorerWindow__header {
  height: 40px;
  margin-top: -5px;
}
.explorerWindow__headerButtons {
  border: 2px outset #ededed;
  padding: 0.25rem;
}
.explorerWindow__bar {
  height: 30px !important;
  margin-right: 0.5rem;
}
.explorerWindow__logo {
  position: relative;
  width: 60px;
  background-color: #000;
}
.explorerWindow__logo > img {
  position: relative;
  margin: auto;
}
.explorerWindow__logoBg {
  position: absolute;
  top: 8px;
  left: 18px;
  background: linear-gradient(
      0deg,
      #1c44ac 0%,
      #1c44ac 50%,
      #e35f5f 50%,
      #e35f5f 100%
    ),
    linear-gradient(0deg, #dfe300 0%, #dfe300 50%, #208c71 50%, #208c71 100%);
  background-size: 10px, 10px;
  background-position: 0 0, 10px 0px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  filter: blur(5px);
}

/* Scrollable sections 
https://codepen.io/louh/pen/oZJQvm?editors=1100
(no custom scroll bars for Firefox mac. This may work on FF windows but basic appearance -> https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars)
*/

.scrollable.-yOnly {
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable.-xOnly {
  overflow-x: auto;
}
.scrollable.-xAndY {
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.scrollable::-webkit-scrollbar-track {
  border-left: 1px solid #ced0cf;
  background-color: #999;
  background-image: linear-gradient(
      45deg,
      #ced0cf 25%,
      transparent 25%,
      transparent 75%,
      #ced0cf 75%,
      #ced0cf
    ),
    linear-gradient(
      45deg,
      #ced0cf 25%,
      transparent 25%,
      transparent 75%,
      #ced0cf 75%,
      #ced0cf
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
.scrollable::-webkit-scrollbar-track:active {
  background-color: #6c6c6c;
}

.scrollable::-webkit-scrollbar-thumb {
  border-top: 1px solid #ced0cf;
  border-left: 1px solid #ced0cf;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 1px 1px 0 0 #fff, inset -1px -1px 0 0 #6c6c6c;
  width: 16px;
  height: 16px;
  background-color: #ced0cf;
  z-index: 1;
}

.scrollable::-webkit-scrollbar-corner {
  background-color: #ced0cf;
}

.scrollable::-webkit-scrollbar-button,
.scrollable::-webkit-scrollbar-button {
  border-top: 1px solid #ced0cf;
  border-left: 1px solid #ced0cf;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 1px 1px 0 0 #fff, inset -1px -1px 0 0 #6c6c6c;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ced0cf;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center center;
}
.scrollable::-webkit-scrollbar-button:active,
.scrollable::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
}
.scrollable::-webkit-scrollbar-button:horizontal:decrement,
.scrollable::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
}
.scrollable::-webkit-scrollbar-button:horizontal:increment,
.scrollable::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
}
.scrollable::-webkit-scrollbar-button:vertical:decrement,
.scrollable::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=");
}
.scrollable::-webkit-scrollbar-button:vertical:increment,
.scrollable::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");
}
.scrollable::-webkit-scrollbar-button:horizontal:increment:start,
.scrollable::-webkit-scrollbar-button:horizontal:increment:start {
  display: none;
}
.scrollable::-webkit-scrollbar-button:horizontal:decrement:end,
.scrollable::-webkit-scrollbar-button:horizontal:decrement:end {
  display: none;
}
.scrollable::-webkit-scrollbar-button:vertical:increment:start,
.scrollable::-webkit-scrollbar-button:vertical:increment:start {
  display: none;
}
.scrollable::-webkit-scrollbar-button:vertical:decrement:end,
.scrollable::-webkit-scrollbar-button:vertical:decrement:end {
  display: none;
}
.scrollable::-webkit-scrollbar-button:active,
.scrollable::-webkit-scrollbar-button:active {
  border: 1px solid #6c6c6c;
  box-shadow: none;
}
